.navbar
  margin-bottom 0
  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  font-weight 600

.septentrion-nav
  background yellow
  .navbar-brand
    font-family 'true lies'
    font-size 30px
    color #1c1d1b
    padding-top 19px
    &:hover
      color #181917

.navbar-default
  .navbar-nav
    li
      a
        color #323330
        &:focus
        &:hover
          color #212220
          background-color transparent
      &.active
        a
          color white
          background #323330
        &:hover
          a
            color white
            background #323330
  .navbar-brand
    color #1c1d1b
    &:focus
      color #1c1d1b

.nav-social
  margin-top 2px
  svg
    display block
    fill currentColor
    width 16px
    height 16px

.navbar-default
  .navbar-toggle
    border-color pinky
  .collapsed
    .icon-bar
      background-color #ddd
    &:hover
      .icon-bar
        background-color pinky
