.parallax-window
  min-height 60vh
  display flex
  justify-content center
  align-items center
  h2
    font-family 'Montserrat', sans-serif
    font-size 60px
    font-weight 900
    font-style italic
    text-transform uppercase
    color pinky
    text-shadow 2px 2px 3px rgba(20,20,20,0.6)

.container
  &.first
    display flex
    align-items center
    justify-content center
    height 100vh

.module
  p
    font-weight 300
    text-align justify
    line-height 170%

.module
  .container
    padding-top 36px
    padding-bottom 50px

.module
  &.parallax
    height 100vh
    display flex
    align-items center
    justify-content center

.module
  &.parallax
    h1
    h2
      color pinky
      line-height 600px
      &.true-lies
        font-family 'true lies', sans-serif
        font-weight 500
        text-shadow 3px 13px 6px rgba(20,20,20,0.6)
        transform rotate(-2deg)
      &:hover
        cursor default
    h1
      font-size 12.5vw
      letter-spacing -3px
    h2
      font-size 8vw
      letter-spacing -1px

@media all and (min-width 960px)
  .module
    &.parallax
      h1
        letter-spacing -10px
        &.true-lies
          letter-spacing 4px
      h2
        letter-spacing -4px
