arrow-color = rgba(255,255,255,0.25)
.fp-controlArrow.fp-prev
  left 15px
  width 0
  border-width 9px 6px 9px 0
  border-color transparent arrow-color transparent transparent
.fp-controlArrow.fp-next
  right 15px
  border-width 9px 0 9px 6px
  border-color transparent transparent transparent arrow-color
.section
  background-size cover
.slide
  background-size cover
#section1
  background-image url(../img/bg1.jpg)
#section0 h1
  top 50%
  transform translateY(-50%)
  position relative
#section2
  background-image url(/img/bg2.jpg)
  padding 6% 0 0 0
#section3
  background-image url(/img/bg3.jpg)
  padding 6% 0 0 0
#section3 h1
  color #000
#slide1
  background-image url(../img/bg1.jpg)
  padding 6% 0 0 0
#slide2
  background-image url(../img/bg2.jpg)
  padding 6% 0 0 0
